.recommendedVideos{
    flex:0.8;
    /* border: 1px solid black; */
}

.recommendedVideos > h2 {
    margin-left: 35px;
    margin-bottom: 20px;
}

.recommendedVideos__videos{
    display: flex; 
    flex-wrap: wrap;
}